* {
    box-sizing: border-box;
    text-align: center;
}

header {
    background-color: #4aaaa5;
    color: #777777;
    padding: 20px;
    margin: 20px 10px 10px 20px; 
    float: left; 
    width: 33%;
    border: 10px;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#left { 
    float: right; 
    background-color:#cccccc; 
    color:#777777;
    width: 23% 100px;  
    margin: 20px 0px 10px 0px; 
    font-family: 'Georgia', Times, Times New Roman, serif;
  }
  
  #middle { 
    float: right; 
    background-color: #cccccc;
    color: #777777;
    width: 23% 100px;
    margin: 20px 0px 10px 0px; 
    font-family: 'Georgia', Times, Times New Roman, serif;
  }
  
  #right { 
    float: right; 
    background-color: #cccccc;
    color: #777777;
    width: 23% 100px;
    margin: 20px 0px 10px 0px;
    font-family: 'Georgia', Times, Times New Roman, serif; 
  }

#picture {
    margin: 20px 10px 10px 20px;
    height: 200px;
    width: 150px;
}

#Paragraph { 
    color: #777777;
}
